/* Code for swiper slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 600px; /* Adjust the height as needed */
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Remove Swiper's default arrow content */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
